/* File: styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;

}


/* Style the file input */
input[type="file"] {
  display: none;
}

label {
  display: block;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #1a2f52;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;
  
}

label:hover {
  background-color:  #010e23;
 
}

/* Style the file name display */
.file-name {
  margin-top: 10px;
  color: #777;
}
.response-container {
  max-width: 500px;
  height: auto;
  border: 2px solid #0c0303;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.response-container h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.response-message {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #1a2f52;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;
}

button:hover {
  background-color: #010e23;
  ;
}
